body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 650px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

form {
  margin-bottom: 10px;
  border-radius: 5px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

input,
select,
button {
  padding: 10px;
  font-size: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eaeaea;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.tag {
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-left: 8px;
}

.friend {
  background-color: #b2ebf2;
}

.family {
  background-color: #ffe0b2;
}

.colleague {
  background-color: #c8e6c9;
}

.buttons {
  margin-top: 10px;
}

button {
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.rsvp.not {
  background: #ffcdd2;
  color: red;
}
